<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>GET 요청</h2>
        <form action="/get_result" method="get">
            <input type="text" name="id" placeholder="ID" /> <br />
            <input type="password" name="pw" placeholder="PW" /> <br />
            <button type="submit">제출</button>
        </form>
        <hr />
        <H2>POST 요청</H2>
        <form action="/post_result" method="post">
            <input type="text" name="id" placeholder="ID" /> <br />
            <input type="password" name="pw" placeholder="PW" /> <br />
            <button type="submit">제출</button>
        </form>
    </body>
</html>
