.square {
    display: inline-block;
    width:100px;
    height:100px;
    border: 1px solid black;
}

.d-none {
    /* jquery에서 사용 */
    /* 아예 공간이 사라짐 */
    display: none;
    background-color: red;
}

.invisible {
    /* 모습과 속성을 숨김 */
    visibility: hidden;
    background-color: orange;
}

.opacity {
    /* 모습만 숨김 속성은 남아있음 */
    opacity:0;
    background-color: tomato;
}