<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Get 방식 URL, POST 방식 URL</h1>
        <a href="/getForm">GET URL</a>
        <a href="/postForm">POST URL</a>
    </body>
</html>
