.text {
    width:300px;
    /* 속성이름 구분잘하기 text 인지 font인지 */
    /* text-align: 문자를 정렬해줌(left, right, center, justify) */
    /* text-decoration: 문자 선 그어줌(overline, underline,line-through) */
    text-align:justify;
    text-decoration:line-through;
}