/* 복합 선택자: 자식 선택자 */
/* 오직 자식만을 선택함(후손 불가능) */
ul > .st {
    color:red;
}


/* 복합 선택자: 후손 선택자 */
/* 자식을 포함한 자식의 자식까지 선택함 */

div .orange {
    color:blue;
}
/* .main .orange {
    color:blue;
} */

/* 복합 선택자: 인접 형제 선택자 */
/* 애니메이션 등을 할때 사용됨 */
/* .orange + li {
    color:green;
} */

/* 일반 형제 선택자 */
/* 인접 형제 태그들 전부 적용 */
.orange ~ .st {
    color:green;
}

/* 부모 li태그에 css가 적용되면 자식 div에도 css가 적용된다. */
/* 이 부분 조금 애매함 */