.main {
    font-size: 19px;
    position: relative;
    animation: move 2s linear 1s 1;
}
@keyframes move {
    0% {
        left: 100%;
        width: 280%;
    }
    100% {
        left: 0;
        width: 100%;
    }
}