<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form name="button-form">
            <label for="name">이름</label>
            <input type="text" id="name" required /><br />
            <label for="email">이메일</label>
            <input type="email" name="email" id="email" /><br />
            <button type="button" onclick="func()">제출</button>
        </form>
        <script>
            function func() {
                const form = document.forms['button-form'];
                console.log(form);
                // form 하위 요소에 접근 : form.하위 요소 id
                // form 하위 요소에 데이터에 접근 : form.하위 요소 id.value
                console.log(form.name);
                console.log(form.email);
                console.log(form.name.value);
                console.log(document.getElementById('name').value);
                console.log(form.email.value);
            }
        </script>
    </body>
</html>
